body{
    background-color: gray;
}
h1{
    text-align: center;
}

.boxs{
    width: 1200px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;

}
.box{
    width: 60px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 10px 10px black;
    
}
button{
    margin-top: 100px;
    margin-left: 200px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: wheat;
}
button:hover{
    background-color: rgb(255, 254, 253);
    color: black;
}